manifest {
  name            = 'Hela-RNC-seq_upstream'
  author          = 'Bioinformatics pipeline template'
  homePage        = 'https://example.org'
  description     = 'ONT cDNA long-read isoform discovery and high-confidence quantification (DSL2)'
  nextflowVersion = '>=23.10.0'
}

params {
  outdir                 = 'results'
  samplesheet            = null
  reference              = null
  annotation             = null
  run_flair              = false
  run_sqanti3            = false

  chopper_min_length     = 200
  chopper_min_quality    = 8
  min_read_support       = 3
  min_novel_support      = 5
  min_multi_sample       = 2

  minimap2_preset        = '-ax splice -uf -k14'

  test_data_dir          = 'assets/test_data'
}

process {
  executor = 'local'
  errorStrategy = 'terminate'
  withName:MINIMAP2_ALIGN {
    cpus = 16
    memory = 64.GB
    time = 24.h
  }
  withName:ISOQUANT_DISCOVERY {
    cpus = 16
    memory = 64.GB
    time = 24.h
  }
  withName:FLAIR_DISCOVERY {
    cpus = 12
    memory = 48.GB
    time = 24.h
  }
  withName:SQANTI3_CLASSIFY {
    cpus = 16
    memory = 64.GB
    time = 36.h
  }
  withName:SQANTI3_FILTER {
    cpus = 4
    memory = 16.GB
    time = 6.h
  }
  withName:CHOPPER_FILTER {
    cpus = 4
    memory = 8.GB
    time = 4.h
  }
  withName:NANOPLOT_RAW {
    cpus = 4
    memory = 8.GB
    time = 6.h
  }
  withName:BAM_STATS {
    cpus = 4
    memory = 8.GB
    time = 6.h
  }
}

profiles {
  test {
    params {
      samplesheet = 'assets/example_samplesheet.csv'
      reference   = 'assets/test_data/mm10.fa'
      annotation  = 'assets/test_data/gencode.gtf'
      run_flair   = false
      run_sqanti3 = false
    }
  }

  conda {
    conda.enabled = true
    process.conda = "${projectDir}/envs/base.yml"
    process.withName:ISOQUANT_DISCOVERY { conda = "${projectDir}/envs/isoform.yml" }
    process.withName:FLAIR_DISCOVERY    { conda = "${projectDir}/envs/isoform.yml" }
    process.withName:SQANTI3_CLASSIFY   { conda = "${projectDir}/envs/sqanti3.yml" }
    process.withName:SQANTI3_FILTER     { conda = "${projectDir}/envs/sqanti3.yml" }
  }

  docker {
    docker.enabled = true
    process.container = 'quay.io/biocontainers/biocontainers:latest'
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process.container = 'docker://quay.io/biocontainers/biocontainers:latest'
  }
}

timeline {
  enabled = true
  file = "${params.outdir}/logs/timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/logs/execution_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/logs/trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/logs/dag.html"
}
